body {
  background: #f4f4f4;
  font-family: Helvetica Neue;
  font-weight: 400;
  font-size: 10pt;
  margin: auto;
  width: 1280px;
  padding-top: 36px;
  color: black; }

header {
  width: 80%;
  margin-bottom: 18px; }

header, footer {
  float: left;
  margin-left: 36px;
  margin-right: 36px; }

footer ul {
  margin-bottom: 18px; }

.container {
  float: right;
  width: 1008px;
  margin-bottom: 36px; }

section {
  float: left;
  width: 636px;
  margin-bottom: 18px; }

section.index-category {
  width: 1008px; }

article {
  float: left;
  width: 300px;
  margin-right: 36px; }

img.screencap {
  width: 100%;
  margin-bottom: 4.5px; }

h1 {
  text-transform: uppercase;
  margin-bottom: 9px; }

header h1 {
  font-size: 20pt;
  white-space: nowrap;
  margin-bottom: 9px;
  display: inline; }

p {
  text-align: justify;
  max-width: 636px; }

footer, p, section ul {
  line-height: 14pt;
  margin-bottom: 10pt; }

footer a:hover, p a:hover, li a:hover {
  background-color: #fcfcfc; }

section li {
  list-style: none; }

footer li {
  max-width: 200px; }

a:link, a:visited, a:active {
  text-decoration: none;
  color: #5a5a5a; }

a:hover {
  color: #1e1e1e; }

@media screen and (max-width: 1289px) {
  body {
    width: 944px; }

  .container, section.index-category {
    width: 672px; }

  section {
    width: 636px; } }
@media screen and (max-width: 953px) {
  body {
    width: 588px; }

  header {
    float: none; }

  .container, section.index-category {
    width: 552px; }

  section {
    width: 516px; }

  article {
    width: 240px; }

  footer {
    display: inline; }

  footer li {
    max-width: inherit; } }
@media screen and (max-width: 597px) {
  body {
    width: 90%; }

  header, footer, .container, section {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }

  section.index-category {
    display: none; } }
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  margin-top: 18px;
  margin-bottom: 18px;
  height: 0;
  overflow: hidden;
  max-width: 100%; }
  .embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
