body {
  margin: auto;
  width: 80vw;
  font-family: 'Lato', sans-serif;
  font-size: 10pt;
}
h1 {
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
}
.focus-buttons {
  text-align: center;
}
svg {
  background-color: #fff;
}
.series {
  fill: #fff;
  stroke-width: 0.5;
}
.faded {
  opacity: 0.2;
}
#eski {
  stroke: #3498DB;
}
#sbt {
  stroke: #d95f02;
}
#lzrd {
  stroke: #7570b3;
}
#pi {
  stroke: #e7298a;
}
#whi {
  stroke: #66a61e;
}
#pm {
  stroke: #e6ab02;
}
#cape {
  stroke: #a6761d;
}
#kk {
  stroke: #666666;
}